[2019-01-28 10:26] pixari opened #1 "Report unused keys in the language files"

[2019-01-28 10:26] pixari opened #2 "Add automatically missing keys in the language files"

[2019-01-28 10:27] pixari opened #3 "Remove automatically missing keys in the language files"

[2019-01-28 10:28] pixari opened #5 "Add support for "static (without $)""

[2019-01-28 10:29] pixari opened #7 "Add support for "template string""
$t((`key.template`)

[2019-01-28 10:29] pixari opened #8 "Tests"

[2019-01-28 15:36] pixari opened #9 "Improve src and lang src arguments"
As (vue files) source and language files source, the user can provide:

- Specific path to a file
- Path with ** and * wildcards
- No file extension limitations

[2019-01-28 15:49] pixari opened #10 "API - Extract i18n strings from given file / files in path"

[2019-01-28 15:50] pixari opened #11 "API - Parse given language file and convert to JS Object"

[2019-01-28 15:50] pixari opened #12 "API - Write new entries to language file"

[2019-01-28 15:51] pixari opened #13 "API - Delete entries from language file"

[2019-01-28 15:51] pixari opened #14 "API - Return collection of missing entries in language file"

[2019-01-28 15:52] pixari opened #15 "API - Return collection of unused entries in language file"

[2019-01-30 22:35] #9 closed

[2019-01-31 22:13] #5 closed

[2019-01-31 22:14] #7 closed

[2019-02-01 15:53] #10 closed

[2019-02-03 12:18] #14 closed

[2019-02-03 21:20] kazupon opened #16 "About license"
Hi!

I want to your library.
However, I noticed your library is GPL v3.
GPL v3 is a license warranting the patent, but companies tend to avoid.

Why is GPL v3?
If possible, can you consider to change MIT license?

[2019-02-13 07:14] #11 closed

[2019-02-13 08:25] #15 closed

[2019-02-13 08:25] #1 closed

[2019-02-13 08:25] #3 closed

[2019-02-13 08:25] #2 closed

[2019-02-14 09:00] kazupon opened #18 "[Feature request] Support analytical data that have AST like interface"
vue-i18n-extract is great projects! 👍

I will be able to provide the useful command with vue-cli-plugin-i18n using the API exposed with vue-i18n-extract.

I think that we will be able to convey the report details to the user, If vue-i18n-extract provides analytical data supporting AST like interface (include line number and etc ...). 😸

[2019-02-14 09:56] pixari commented on #18
Thanks @kazupon!

It won't be a problem at all.
Actually I already have the informations you mentioned.

I just have to pass them to the report.

Stay tuned :)

[2019-02-14 15:55] pixari commented on #18
Hello @kazupon!

I fixed it: https://github.com/pixari/vue-i18n-extract/commit/712e7500962e5e28b761175f7895f148b16ccfd0

That's how the result will look like:

<img src="https://raw.githubusercontent.com/pixari/vue-i18n-extract/master/demo/screenshots/vue-i18n-extract-3.png" width="600">

<img src="https://raw.githubusercontent.com/pixari/vue-i18n-extract/master/demo/screenshots/vue-i18n-extract-4

[2019-02-14 15:55] #18 closed

[2019-02-15 00:18] kazupon commented on #18
Thanks!

[2019-02-26 16:29] kazupon opened #19 "JSON Format for languages support"
Currently, `AnalyzeLanguageFiles` cannot read the json language files.
https://github.com/pixari/vue-i18n-extract#analyzelanguagefiles

We often use the json format.
I hope that supporting. :)

[2019-02-26 21:14] pixari commented on #19
Sure! I'll be easy.
Give me a couple of days. :)

[2019-02-27 01:37] nelson6e65 commented on #19
I just wanna point this, but I had not much time to test this tool in a project I used JSON.

Also... In addition... I don't use a key-like string (`"message_title": "Título del mensaje"`) as key for the string in my JSON, but a "fallback" string as key (`"Message Title": "Título del mensaje"`) (https://github.com/kazupon/vue-i18n/issues/138#issuecomment-374757144)

[2019-02-27 16:53] Spittal commented on #19
This is the exact situation that I use. My keys are the fall back for my translations.

[2019-02-27 17:31] pixari opened #20 "JSON Format Support"
'AnalyzeLanguageFiles' must support JSON files.

[2019-02-27 17:35] pixari commented on #19
I created the issue.
I can start working on it, or maybe someone is already take care of it? (@Spittal?)

[2019-02-27 18:01] pixari opened #23 "Support for string-as-key fallbacks"
I just wanna point this, but I had not much time to test this tool in a project I used JSON.

Also... In addition... I don't use a key-like string (`"message_title": "Título del mensaje"`) as key for the string in my JSON, but a "fallback" string as key (`"Message Title": "Título del mensaje"`) (https://github.com/kazupon/vue-i18n/issues/138#issuecomment-374757144)

_Originally posted by @nelson6e

[2019-02-28 10:14] pixari commented on #19
Hi @kazupon!

https://github.com/pixari/vue-i18n-extract/pull/25

@Spittal just fixed this issue. 👍 👍 👍

It's available in the latest version: 0.2.3.

We are also reviewing this PR:
https://github.com/pixari/vue-i18n-extract/pull/26

I think it adds an interesting feature.

😄

[2019-02-28 10:14] #19 closed

[2019-02-28 15:36] kazupon commented on #19
Thanks!

[2019-02-28 15:50] kazupon opened #27 "[Feature request] Support analytical language AST data"
I would like to support unused keys reporting of language file in vue-cli-plugin-i18n. (e.g ESLint stylish reporting like)

In about [analyzeUnusedKeys](https://github.com/pixari/vue-i18n-extract#analyzeunusedkeys), If vue-i18n-extract will provide language file AST,  I think that we will be able to convey the report details.

[2019-03-01 09:59] pixari commented on #23
https://github.com/pixari/vue-i18n-extract/pull/26

Done and available in 0.2.4.

😄

[2019-03-01 09:59] #23 closed

[2019-03-01 10:00] pixari commented on #27
Hello @kazupon,

I can do it in 2/3 days.

😄

[2019-03-01 11:31] nelson6e65 commented on #23
Nice!

[2019-03-05 08:07] pixari opened #29 "Improve Maintainability (at least level B)"
https://codeclimate.com/github/pixari/vue-i18n-extract

[2019-03-05 08:09] pixari opened #30 "Remove 1 Vulnerability"
https://snyk.io/test/github/pixari/vue-i18n-extract?targetFile=package.json

[2019-03-05 16:52] pixari commented on #27
Hi everybody!
Actually I found out it is a bit more complicated than expected.

Maybe I need some support. @Spittal, would you like to have a look?

@kazupon: is it a problem if we postpone it for 2/3 weeks?

[2019-03-05 17:09] kazupon commented on #27
@pixari
No problem!

[2019-03-06 01:45] Spittal opened #31 "Vue i18n Extract in Typescript and new Repo"
Hi Pixari!

As I'm sure you know I've been keenly interested in this project and have been working on it for the past few days. I wanted to inform you that I have modified the tool for my purposes past the point of making a pull request.

https://github.com/Spittal/vue-i18n-extract

Some changes I've made include:

1. It's all Typescript now :tada:
2. For making publishing easier and to aid with T

[2019-03-06 06:14] pixari commented on #31
Hello @Spittal,

I had the chance to look at your code. You made a great job.

I was also working on refactoring, but I'm not yet so far.

I think you really improved the code and added important feature and it's exactly the direction where vue-i18n-extract has to go.

I would gladly merge your changes in the original repository and add you as contributor with admin rights, so we can both proceed

[2019-03-06 15:19] Spittal commented on #31
I'd be very interested in that!

[2019-03-06 15:34] pixari commented on #31
Hi @Spittal,

I added you to the repository.
Could you accept the invitation?

Thanks :)

[2019-03-06 15:42] Spittal commented on #31
:tada:

[2019-03-06 15:44] pixari commented on #31
@Spittal
Now you have full access.
If you'd like, you can push your version.

If everything works, we can release the new version.

[2019-03-06 15:48] Spittal commented on #31
Okay great, I'll push it as a branch at first, I will make sure the README is correct and that the tests are back in full worker order. We can review from there.

Thanks!

[2019-03-06 15:48] #31 closed

[2019-03-08 23:15] #8 closed

[2019-03-08 23:15] #29 closed

[2019-03-08 23:15] #30 closed

[2019-03-08 23:15] pixari opened #33 "Demo doesn't work anymore"
"npm run demo" doesn't work anymore

[2019-03-08 23:16] pixari opened #34 "yarn global add vue-18n-extract"
This command is part of the readme

[2019-03-08 23:18] pixari commented on #33
Hi @Spittal, could you have a look?

[2019-03-08 23:21] pixari opened #35 "fix lint problems"

[2019-03-08 23:22] pixari opened #36 "add lint check to CircleCI"

[2019-03-08 23:27] #36 closed

[2019-03-08 23:35] #34 closed

[2019-03-08 23:36] pixari opened #37 "Running from command line doesn't work"
**Readme:**
Running from command line
You can run vue-i18n-extract directly from the CLI if you have install it globally

yarn global add vue-i18n-extract

This doesn't work.

[2019-03-08 23:38] pixari opened #38 "Check Readme.md"
Readme needs to be checked.

[2019-03-08 23:52] Spittal opened #39 "Circle CI needs to be updated to use Pika for publishing"
Hey @pixari

While publish does exist in CircleCI it needs to run `npm run build` then actually publish what gets generated in the `./pkg` folder. The reason for this is Pika is what does all the typescript compilation as well as generating typings and the wrapper to make the tool a CLI so basically it will need to

[code]

Thanks!

[2019-03-08 23:54] Spittal commented on #37
See #39

[2019-03-08 23:58] Spittal commented on #33
Hey this is likely because the files were not compiled. I fixed this by adding `npm run build` in the demo command.

[2019-03-08 23:58] #33 closed

[2019-03-08 23:58] Spittal commented on #35
Linter didn't like the typings for cli-table3. I've changed the quote marks and have ignored the complaints about namespace and module.

[2019-03-08 23:58] #35 closed

[2019-03-09 00:09] pixari commented on #39
It should work now.
What do you think? :)

https://github.com/pixari/vue-i18n-extract/blob/master/.circleci/config.yml

[2019-03-09 00:10] pixari commented on #37
Duplicate of #39

[2019-03-09 00:10] #37 closed

[2019-03-09 00:14] pixari commented on #33
When I try to build i get this error:

sh: pack: command not found

[2019-03-09 00:21] Spittal commented on #39
I made a small change, I believe you don't need to run install again, as it ran during the test job and you're mounting that to the deploy job. Then I shuffled some things around. I will give it a try now!

[2019-03-09 00:26] Spittal commented on #39
Nope, looks like it actually does need the npm install in there. my bad! :\

[2019-03-09 00:42] Spittal commented on #39
Having trouble getting it work... Pushing lots of builds to test everything... Will fix shortly.

[2019-03-09 00:52] Spittal commented on #39
:tada: fixed at of `v.0.4.8`

[2019-03-09 00:52] #39 closed

[2019-03-09 01:10] Spittal commented on #38
I'll make a little checklist of all the things we show in the README.md and see if they all work.

- [ ] Check Installation
  - [ ] Yarn
  - [ ] NPM
- [ ] Check `package.json` addition (make sure it runs with `npm run vue-i18n-extract` and `yarn vue-i18n-extract`
- [ ] Test `report` command

- [ ] Install globally
- [ ] Run `report` command anywhere

- [ ] Test `-o` argument

- [ ] Test demo/test

[2019-03-09 12:55] pixari opened #40 "New Documentation"
Hi!
I think it's time to create a new *cool* documentation with Vue Press and deploy on GitHub pages. 😄

- [ ] Build documentation with Vue Press
- [ ] Deploy it on GitHub Pages

[2019-03-09 13:00] pixari commented on #38
Perfect! Thank you!
I'll work on the checklist and also prepare the new doc (see #40 ).
Is it ok for you? 😄

[2019-03-09 16:28] pixari commented on #27
Done :)

[2019-03-09 16:28] #27 closed

[2019-03-10 17:26] kazupon commented on #27
Thanks!

[2019-03-11 02:51] Spittal commented on #38
That works for me I'll close this and move over to the other ticket.

[2019-03-11 02:51] #38 closed

[2019-03-11 02:52] Spittal commented on #40
Moving over from issue #38

- [ ] Check Installation with Yarn and NPM
- [ ] Check `package.json` addition (make sure it runs with `npm run vue-i18n-extract` and `yarn vue-i18n-extract`
- [ ] Test `report` command
- [ ] Install globally
- [ ] Run `report` command anywhere
- [ ] Test `-o` argument
- [ ] Test demo/test workflow (clone, build,  demo, test)
- [ ] Check for typos and grammatical errors

[2019-03-13 20:27] nothingismagick opened #41 "detect invalid strings"
Tracking issue per discord conversation.
Things like [multibyte character exploits](https://security.stackexchange.com/questions/9908/multibyte-character-exploits-php-mysql) and XSS injections

[2019-03-15 01:14] Spittal commented on #41
Hey there, I believe this is outside the scope of the project.

This tool just analyses source code on your local disk, it doesn't run in browser, it has no web-server implementation, and doesn't actually do any of the string interpolation like vue-i18n does.

I suppose if a black hat has access to your vuejs source code on disk, then they can inject some code that would run in node. But, if someo

[2019-03-15 01:14] #41 closed

[2019-03-30 12:25] tasselchof opened #42 "Functionality"
Hello!

Except reporting future is your plugin can put missing translations to locale files?

[2019-04-01 12:06] pixari commented on #42
It's not yet planned, but it would be a nice feature.
I'll put it on the todo-list. :)

[2019-04-11 22:27] jamiechong opened #45 "CLI report truncates fields"
I've been looking forward to using this tool. Thanks!

I just ran it for the first time and I'm seeing a lot of ellipses in the report. It seems to show absolute paths even though I run the report using relative paths.

`vue-i18n-extract  report -v 'src/**/*.?(js|vue)' -l 'src/locales/*.json'`

Here is a sample image of the output.

<img width="617" alt="Screenshot 2019-04-11 15 22 11" src="https:

[2019-04-11 22:43] jamiechong opened #46 "Dynamic translation keys"
So I'm not sure how to solve this really, but here's the problem.

It picks this up as a `Missing i18n Entry`
`lang.label.${choice}`

And in my lang files it picks these up as `Unused i18n Entry`
[code]

My code has this within a loop where `choice` is one of  `[ar-AE, de-DE, en-US, etc]`:
[code]

Could your tool treat the `${choice}` as a wildcard somehow and therefore not flag these items as mis

[2019-04-12 00:08] Spittal commented on #45
Hi! Thanks for reporting this!

Fixed in https://github.com/pixari/vue-i18n-extract/pull/47

[2019-04-12 00:53] Spittal commented on #46
Yeah there are several occasions where you want some dynamic content in your paths. I've seen this with:

1. The `v-t` directive that allows for an object to be passed through, as opposed to a string literal.
2. A case that I patched out a while ago https://github.com/pixari/vue-i18n-extract/commit/30fb684b2a25fb1e3dcdb7ff32e165dde9e26e6d which allows for using a dynamic `:path` in a `<i18n>` comp

[2019-04-12 01:00] Spittal commented on #42
Hey @tasselchof I just want to make sure I understand what you're asking. You would want the library to actually write in the missing translations into the language files.

For example:

**Before running `vue-i18n-extract`**
[code]

[code]

**After `vue-i18n-extract`**
[code]

If that's the case would you just want the added translation string to be empty when added?

[2019-04-12 09:25] nothingismagick commented on #42
I don’t think you want it to be blank, because then there will be holes in
the interface. Better to have the source language than nothing at all.

[2019-04-12 09:38] tasselchof commented on #42
This should not be empty. We have source language, so we just add strings with source language in each language file.

So, in an example of @Spittal after running tool we will have:

`// en_EN.json
{
  "some.string": "Hello",
  "string": "string"
}`

And somebody who translating can go inside a file and change this string.

[2019-04-12 17:12] jamiechong commented on #45
I took a look at the PR and note that in the screen shot it seems to truncate the first column as well. When the number exceeds `99`. Don't think your PR handles that. Is there a reason why they report must max out at 100 characters? Maybe allow a flag to set/increase this?

[2019-04-12 17:49] nothingismagick commented on #45
Maybe a little reporting site like for code coverage could be useful... Or
a standalone electron app. If only there were a framework where you could
build both with the same codebase.

[2019-04-12 23:11] Spittal commented on #45
For sure, I know we want to keep the scope of the tool pretty small. So it can be extended to ones use case. For example I know @kazupon is making a `vue-cli` plugin being made that's using this tool, he wouldn't need a web based report. However I will look into the cli table truncating columns.

[2019-04-17 09:19] pixari commented on #42
That's very good, @tasselchof.

I see a potential problem:

1. Some keys are missing
2. You let the library generate "fillers" to fill the gaps ("string": "string")
3. You run the library and it tells you that you have a complete and valid language file

... 4. But actually it is valid just because it has been filled with fake placeholders.

So probably I would do:

[code]

and then make the libra

[2019-04-17 09:22] pixari commented on #45
@Spittal what about adding a flag to show either the full path or the filename?

Theoretically the paths could be also 200 chars long, and I don't think is a good idea to have so a wide table.

And you are totally right, this is probably not the scope. The table we show in the console log is kind of a "proof" that it works.

[2019-04-17 09:25] pixari commented on #46
I did some "experiments" in this direction but I wasn't successful.
I could boot up the Vue app but then it was very complicated to be 100% sure that I was covering all
cases.

I have the feeling this isn't the best approach, but as you said, I'm waiting for someone smarter than me (there are a lot of them out there). :)

[2019-04-17 10:06] tasselchof commented on #42
Notifications are not so important, like understanding such a phrase in context. Also, you can get this notification simply checking locale of translated string. If you use not keys, but full phrases like:

$('Translate me');

Then in not English locale key simply will be equal to the value and this can generate a notification.

The way you are offering... in fact, you will need to check this % in

[2019-04-17 11:05] nothingismagick commented on #42
So here is a rundown of the options / situations as I see them:

Situations:
-1. Missing key in default locale (aka called by dev, key not found)
   vue-i18n: key not available, will render key in front-end
   vue-i18n-extract: COULD create key in default locale (and all other
locales)
0. Missing value in default locale
   vue-i18n: will supply the key in the front-end
   vue-i18n-extract: opportu

[2019-04-25 13:01] pixari commented on #40
Hi @Spittal!

Do you like it? https://pixari.github.io/vue-i18n-extract/

I think we have to improve it, but it's a good start.
We also have the docs in the deployment pipeline.

[2019-04-25 13:02] pixari commented on #40
Hi @kazupon!

Do you like this kind of documentation? => https://pixari.github.io/vue-i18n-extract/

[2019-04-25 16:27] Spittal commented on #40
Perfect, I love this! This will be a good foundation for us to add better documentation!

[2019-04-25 16:53] kazupon commented on #40
cool!
In addition, it would be nice to have an API reference!

[2019-06-10 14:25] enzonotario commented on #42
Hi folk! Did you found a way to extract all missing strings to a json, for example?

Thanks in advance!

[2019-08-02 09:02] civicwar commented on #45
@pixari Hello,
I've made a pull request that should be a workaround this issue.

@jamiechong If you want to get a CSV or something like that, the **vue-i18n-extract** cli has an option -o that outputs the report into a JSON file.

Best Regards,
David Fernandes

[2019-08-02 09:09] civicwar commented on #42
@enzonotario Hello, you have a CLI opntion -o to extract a json file.

`[--output, -o] Use if you want to create a json file out of your report.(ex. -o output.json)`

[2019-08-02 10:45] pixari commented on #45
Well done, @civicwar!

Closed with #52

[2019-08-02 10:45] #45 closed

[2019-08-02 13:24] enzonotario commented on #42
Thanks! but I need just the missing keys, so I have created a node script like:
[code]

[2019-08-11 06:18] danielstc opened #53 "Report table column dimensions"
Hi very useful tool!
I encountered a small problem. When the key count is more than 2 digits, these are cut.
I solved by increasing the size of the first column in the script that generates the report.

Before
![1st_column_translation_tool](https://user-images.githubusercontent.com/32573423/62830498-34a15e00-bc10-11e9-8e0c-e77838162cee.png)

After
![translation_tool](https://user-images.githubuser

[2019-08-11 20:25] Spittal commented on #53
Hey Dan! Wonderful! Want to open a PR with the change you made? Thanks!

[2019-09-20 17:43] abhipanda opened #55 "Extract untranslated text"
Is there a way to extract all texts which doesn't have translation associated with it ?

[2019-09-20 20:11] Spittal commented on #55
Hello! That's that the `missingKeys` section of the report is for!

[2019-09-20 20:11] #55 closed

[2019-09-21 05:16] abhipanda commented on #55
Its not the missing keys but the ones we have missed to translate or add keys

[2019-10-08 06:53] stevenkuster opened #56 "Exit code when translations missing"
Hi, I have a question. I would like to use vue-i18n-extract to fail my Semaphore build when translations are missing. However, the plugin returns an exit code 0 and the build passes even when it has missing translation keys. Is this a feature that can be added? Or am I just missing something?

Thanks in advance for the reply!

[2019-10-08 09:36] pixari commented on #56
Hi!
Actually I had the same issue the last week and I used the library inside a git hook.

I think we could improve the library adding this feature.
I don't know if it should be something that belongs to the library or an external project.

What do you think about it, @Spittal?

[2019-10-10 23:17] Spittal commented on #56
Will take a look!

[2019-10-14 06:57] stevenkuster commented on #56
Thanks, that would be awesome!

[2019-10-18 16:02] LordGordonQ commented on #46
## Proposal 1
A quick workaround could be a "classic" ignore comment to tell vue-i18n-extract to ignore some entries we know are highly dynamics.

code:
[code]

translation:
[code]
---
## Proposal 2

Building on the previous example we can use the comment to "tag" the dynamic lines with the used strings, as a mapping, to avoid dangling translations in case of refactoring.

code:
[code]

translatio

[2019-11-15 11:13] mlocati commented on #56
I do agree, an exit code would be a great help in CI.

I managed to solve this by inspecting the contents of the generated report:

[code]

For example, a TravisCI job could be something like this:

[code]

The script will exit with 0 (success) of the report.json file contains `{"missingKeys":[],"unusedKeys":[]}`, with non-0 (failure) otherwise.

[2019-11-21 09:38] ray007 commented on #42
Maybe not exactly what you want, but since I have to do the actual translations with sisulizer anyway, just getting a json-file as blueprint works fine for me. Doing that with:
[code]
Maybe something for an example in case somebody else finds it useful too?

[2019-12-06 19:28] Soviut opened #57 "Option to disable colours on output"
I'm using vue-i18n-extract to generate a report as part of a CircleCI build pipeline.

I'm using the following command to output to stdout and a file which gets stored as a "build artifact".

[code]

Unfortunately, the stored result contains colour codes and winds up looking like this

[code]

It would be great if there was an option to disable colours in the output or if the `--output` flag suppo

[2019-12-06 19:49] Soviut commented on #57
For anyone else who encouters this, my workaround is to use `sed` to strip the colour codes.

[code]

[2019-12-06 21:35] Spittal commented on #57
Will look into!

[2020-01-09 05:55] dzcpy opened #59 "Support single file component syntax (vue-i18n-loader)"
I would be great if this module can add support for vue-i18n-loader

[2020-01-12 01:22] Spittal commented on #59
Hey there @dzcpy, we took a look at supporting loaders but we decided it would be outside the scope of this plugin. Sorry!

[2020-01-12 01:22] #59 closed

[2020-02-04 20:29] erickwilder commented on #56
The status code is the most sane way to solve this because sniffing the output makes these solutions really fragile as this project evolves. If, for some reason the output changes, then all these scripts have to be updated.

[2020-02-04 21:00] erickwilder commented on #42
Although the library contains`extract` in its name I confess this was the number 1 reason I came across it. Translation extraction is something that depends a lot on the context you build your project. Perhaps this project should limit itself in proving ways to make it easier for people to build this kind of feature themselves using the Node API.

**Some things to consider:**

- `vue-i18n` support

[2020-02-05 13:44] kleinfreund opened #61 "Escaped quotation marks are parsed incorrectly"
**Steps to reproduce**:

1. Use the following translation string: `this.$t('I\'m not done, yet.')`.
2. Add the i18n entry `"I'm not done, yet."` to a locale file ending in .json.
3. Run vue-i18n-report

**Expected result**:

No missing and no unused translation strings are reported.

**Actual result**:

- The string `I\` is reported as a missing i18n entry.
- The string `I\'m not done, yet.` is re

[2020-02-05 21:54] paulvonber opened #62 "Doesn't seem to be working at all"
Maybe anyone can advice what I'm doing wrong?

public % vue-i18n-extract report -v "./**/*.?(js|vue)" -l "./locales/*.?(js|json)" | tee ./tmp/i18n-report.json

(node:43596) UnhandledPromiseRejectionWarning: Error: EISDIR: illegal operation on a directory, read
    at Object.readSync (fs.js:506:3)
    at tryReadSync (fs.js:331:20)
    at Object.readFileSync (fs.js:368:19)
    at /Users/Paul/.config

[2020-02-25 19:37] ewohlken2 opened #66 "Does not work when two keys exist on the same line, Regex needs to be lazy"
Example code:

[code]

running vue-i18n-extract on this html returns a path of:
[code]
instead of 2 seperate paths of `product.sign_in` and `product.priority_info`

Fix: In file-operations-vue.js, directiveRegExp should be `/v-t="'(.*?)'"/g` instead of `/v-t="'(.*)'"/g`

Here are some links to regex101.com that further illustrate my point:
https://regex101.com/r/PzcT5n/1
https://regex101.com/r/DeV

[2020-02-25 19:48] #61 closed

[2020-02-25 19:58] pixari commented on #62
It looks like either the path is wrong or you don't have the right permission. Could it be?

[2020-02-25 20:08] pixari commented on #42
Hi @erickwilder,

I find your observations right.
It isn't easy at all to build a generic extraction tool that could cover all the formats and the edge cases.

When I started it wanted to solve a specific problem covering specific requirements.

Then it grew up getting more flexibility and a bunch of options, but this doesn't make it a standalone extraction solution.

What is happening is that peo

[2020-02-25 20:09] pixari commented on #66
Yes, please. It would be great if you could open a PR.

[2020-02-25 20:12] pixari commented on #46
Hi @LordGordonQ,

I really like the Proposal 2.

Did you think about the implementation?

[2020-02-25 20:16] pixari commented on #56
I agree.
Exit codes still have to be implemented in the library.
Unfortunately I didn't have time to work on it and this proposal is still "on hold".

Feel free to propose a technical implementation, I'll work on it in the next weeks.

[2020-02-25 20:19] pixari commented on #53
Hi @danielstc, it would be great if you could open a PR with your changes :)
Thank you very much

[2020-02-25 20:21] pixari commented on #57
We definitely should make the colors optional then.
Thank @Soviut for bringing this up.

[2020-02-26 10:42] #53 closed

[2020-02-28 11:17] LordGordonQ commented on #46
Thanks. Not really: I haven't studied the code for this plugin. I'm just an user.

Yet, I thought that if you are able to capture the `vue-i18n-extract` in the comments then you should be able to parse the rest of the comment to look for configuration options and store them in a dictionary (or something useful) to use as support.

[2020-03-03 18:47] Spittal commented on #46
I will take a look this weekend to implement this!

[2020-03-03 18:49] #66 closed

[2020-03-05 00:54] ewohlken2 commented on #46
To me, dynamic translations keys are an anti-pattern when trying to build a fully automated translation system. But I still have a few in the codebase I'm working on that I can't get rid of just yet, and they are polluting my vue-i18n-extract output.

I'd like to be able to ignore dynamic keys, either outright or with comments like in proposal 1.

Proposal 2 is interesting, but my project shares t

[2020-03-05 08:32] LordGordonQ commented on #46
In my case I have lot of dynamic data coming from external API, so I cannot create full static translations at build time.

I had the same problem in a previous project, where some translation was done by VueJS and others by the back end. It's hard to maintain.

So, in this new project I designed that the back end serves data and metadata via API, but has no knowledge on the user's language. Only

[2020-03-07 12:46] paulvonber commented on #62
huh seems problem was here "./**/.?(js|vue)" it somehow doesn't take all of the folders
and this way seems to be working fine "./pages/**/.?(js|vue)"

[2020-03-08 03:42] Spittal commented on #62
Interesting, usually the glob pattern needs a star before the `.?` so for example `/**/*.?(js|vue)`. Closing this for now, let me know if you still have an issue!

[2020-03-08 03:42] #62 closed

[2020-03-23 11:24] Hagith opened #71 "NPM v1.0.3 has no -a option"
It is strange but v1.0.3 which is available on NPM has no `-a` option.

Download package and check the code:
[code]

Output:
[code]

[2020-04-01 07:47] Gitsack commented on #71
Ah i guess that's why the add functionality is not working?

The following lists all unused and all not yet included annotations perfectly but does not add missing keys to the translation json files (version 1.0.3):

`vue-i18n-extract report -v './src/modules/**/*.?(js|vue)' -l './src/locales/*.?(js|json)' -a true`

[2020-04-06 23:38] Spittal commented on #57
Hey @Soviut, I have made PR #70  that uses the native `console.table` function. I tested with the `tee` command on mac and it seems like it solves your issue. It should be merged in soon.

[2020-04-06 23:38] #57 closed

[2020-04-06 23:40] Spittal commented on #71
Hello!

I've just finished up a PR  #70 to address this issue and extend the `-a` functionality to include not only `JSON` files but also `JS` and `Yaml`. It will be merged and released soon.

[2020-04-06 23:40] #71 closed

[2020-04-16 16:58] gapon2401 commented on #42
Hi!
I wrote small package for exporting missed strings from the report to json locale files. Works fine for my projects. Hope, it helps somebody.
[vue-i18n-extract-translations](https://www.npmjs.com/package/vue-i18n-extract-translations)
Still waiting for official release with that feature.

[2020-04-22 17:24] lahdekorpi opened #72 "Support formatFallbackMessages"
Is there an option to support extracting translations when using `formatFallbackMessages: true` [as documented in vue-i18n fallback documentation](https://kazupon.github.io/vue-i18n/guide/fallback.html#explicit-fallback-with-decision-maps)?

At the moment `$t("Hello World. Have a nice day!")` will get extracted to:
[code]

[2020-04-22 20:43] Spittal commented on #72
Hello! @lahdekorpi this is a bug with how we handle keys with dots characters in them. We'll get this handled ASAP. Thanks for reporting!

[2020-04-27 08:06] HugoHeneault commented on #46
As a simpler implementation, would a simple option ignoring strings ending by `.` be sufficient?

It would then ignore

* `errors.`
* `locales.`

I saw someone already worked on something: https://github.com/aldarund/vue-i18n-extract/commit/7fe5fe6d28c06e95f9a6743b2a603b3abf1fc267

I will try to implement and propose a PR for that :)

[2020-04-27 09:41] HugoHeneault commented on #46
I've implemented a simple dynamic keys handling system. You can review or check it on #74 🍻

[2020-05-07 07:38] vmangelovv commented on #46
is there any movement on the issue?

[2020-05-07 08:26] HugoHeneault commented on #46
@vmangelovv You can use my repo as long as it's not merged, I use it for one of my production project :)

[2020-05-07 11:04] vmangelovv commented on #46
can you give an example of ignoring dynamic key?

[2020-05-07 12:00] caugner opened #75 "Add Website to Repository"
@pixari It would be great if you could link to the documentation (https://pixari.github.io/vue-i18n-extract/) from the repository header:
![grafik](https://user-images.githubusercontent.com/495429/81291849-db653e80-906a-11ea-93f5-1a2d8aecc918.png)

[2020-05-07 12:13] HugoHeneault commented on #46
As I wrote on the #74:

* You should run with the `vue-i18n-extract` with `-d` param
* All keys containing `${` caracters or ending by a dot `.` are considered as dynamic.

[2020-05-07 12:15] pixari commented on #75
Done! :)

Thank you @caugner!

[2020-05-07 12:15] #75 closed

[2020-05-08 06:55] vmangelovv opened #76 "Threat dynamic keys as unused"
Loop of locales returns unused keys

![image](https://user-images.githubusercontent.com/43376240/81379250-6ac52d00-9111-11ea-9787-319ebd5fcda8.png)

`<template
          v-for="(item, index) in
            Object.keys($i18n.messages[$i18n.fallbackLocale].views.FAQ.questions).length"

          <expandable-block
            :key="index"
            :title="$t('views.FAQ.questions')[index].title"

[2020-05-12 21:22] mohamedsml opened #77 "Error to run vue-i18n-extract"
I m trying to run vue-i18n-extract

`npx vue-i18n-extract report -v './resources/assets/js/**/*.vue' -l './resources/assets/js/locales/*.json'`

 but i get this error:

`
(node:16284) UnhandledPromiseRejectionWarning: Error: vueFiles glob has no files.
    at u (C:\laragon\www\project\node_modules\vue-i18n-extract\dist\vue-i18n-extract.umd.js:1:772)
    at p (C:\laragon\www\project\node_modules\vu

[2020-05-18 19:41] lahdekorpi commented on #72
Are there any workarounds for this?
Would it be feasible to just hack https://github.com/pixari/vue-i18n-extract/blob/master/src/report-command/language-files.ts#L42 and https://github.com/pixari/vue-i18n-extract/blob/master/src/report-command/language-files.ts#L63 to skip the dot notation part?

[2020-05-23 17:15] AaronHernandezPerez opened #78 "ENONENT error in windows"
Hi when I execute the command in windows 10 from "D:/proyect/" I get the following output

┌─────────┬───────────────────┬──────┬────────────────────────────────────────────────────────────────────┬──────────┐
│ (index) │       path        │ line │                                file                                │ language │
├─────────┼───────────────────┼──────┼─────────────────────────────────

[2020-05-24 23:35] rashfael opened #79 "vue-i18n-extract overwrites global `require`"
vue-i18n-extract overwrites the global `require` here:
https://github.com/pixari/vue-i18n-extract/blob/1591c94ae19239cbd77c3c9da0ef67f4bcfe8c1d/src/report-command/language-files.ts#L10

This causes problems with other modules.
In my case vue-i18n-extract gets loaded via vue-cli-plugin-i18n before the vue cli webpack build, which then breaks a loader down the line, because `esm` is not handling has

[2020-06-25 09:40] adamsol opened #80 "No output in console"
In versions 1.1.0 and 1.1.1, nothing is written to console when running as npm script (on Windows, if it matters). Only writing to a file with `-o` works. There is no problem in version 1.0.3.

[2020-07-02 09:54] ThaDaVos opened #81 "Fails when a translation uses formatting"
I noticed some of my keys ending up as unused because the `$t('KEY', {FORMATS})` call seems to be unsupported.
Also my dynamic keys are ending up as missing, which they shouldn't

[2020-07-17 14:46] wesleymostien opened #82 "Shows npm version or ''-v, --vueFiles <vueFiles>' not specified""
If I follow installation steps, and run this command:

```npm run vue-i18n-extract report -v './path/to/your/vue-files/**/*.?(js|vue)' -l './path/to/your/language-files/*.?(js|json|yml|yaml)'```

I just get the NPM version printed in console (6.14.6).

If I use '**--vueFiles**' : error: required option '-v, --vueFiles <vueFiles>' not specified.

Node version: 12.18.2

[2020-07-17 15:26] wesleymostien commented on #82
Never

[2020-07-17 15:26] #82 closed

[2020-07-17 15:45] wesleymostien commented on #56
Really looking forward for this ;-)

Then I can use this in my Git Hooks before a commit.

[2020-07-27 14:51] GuusvanderVegt opened #83 "Incorrect documentation"
In the 'how to use' section of the documentation, the 2 dashes in the commands are missing for report.

Is:
[code]

Should be:
[code]

[2020-07-30 07:14] karlmiles commented on #82
@wesleymostien I've got the exact same "issue" as you did.  What did you need to do in order to resolve it your side?

[2020-08-19 18:13] pdcmoreira commented on #46
For anyone that might be interested, I'm doing this as a workaround:

**Script in `package.json`:**
[code]

**`.i18nignore` file:**
[code]
You can add one of these per component or a global one for all components, whatever you might prefer.

This would be a cool adition to the core (by specifying just the keys, not the entire `$t('...')` mock), since it's simple and similar to other tools, like `.

[2020-09-09 15:32] jetaix opened #84 "nuxt-i18n support ?"
a support for nuxt-i18n is planned ?

[2020-09-09 17:33] #46 closed

[2020-09-29 05:18] louisluu commented on #72
+1

[2020-10-02 12:12] pixari commented on #84
Not yet specifically for next-i18n.

[2020-10-02 12:12] #84 closed

[2020-10-02 12:14] pixari commented on #83
I am going to gather all the docs improvements in one Issue.
Thank you!

[2020-10-02 12:14] #83 closed

[2020-10-02 12:26] pixari commented on #79
What do you suggest?

[2020-10-02 12:27] pixari commented on #78
I can't reproduce the bug.
Does someone has the same issue?

[2020-10-02 12:28] pixari commented on #77
I can't reproduce the bug.

Feel free to open another issue with more information if this problem persists.

[2020-10-02 12:29] #77 closed

[2020-10-02 12:30] pixari commented on #76
How would you handle the locale loops?

[2020-10-02 12:31] pixari commented on #42
@gapon2401 would you like to integrate that feature in the library?

[2020-10-02 12:34] pixari commented on #72
I'll have a look at it soon.

[2020-10-03 12:11] pixari opened #85 "Use Webpack as Bundler"
Webpack should be used to bundle the library.

Documentation: https://webpack.js.org/guides/author-libraries/

[2020-10-03 12:42] pixari opened #86 "Fix tests"
Tests are failing and should be fixed

[2020-10-03 17:48] pixari commented on #56
I am working on it, @wesleymostien :)

[2020-10-04 18:22] Spittal commented on #85
I don't know if I agree with this. While I'm a fan of Webpack, it's adds a layer of complexity that I just don't think a project with this small of a scope needs. Microbundle isn't a silver bullet, but without any configuration we support emitting types, emitting UMD bundles, and modern ESM bundles.

@pixari is there a reason you would want to move off microbundle?

[2020-10-04 19:55] Spittal commented on #79
To keep compatibility with a wide range of projects, using CJS and ESM I've rewritten the file to no longer override `require`

Fix is in this commit: https://github.com/pixari/vue-i18n-extract/commit/0d367afb0e415b2d5f1ac7cfafab6339a43f27e9

[2020-10-04 20:30] kleinfreund commented on #79
@Spittal Not sure if that was intentional, but the files in the dist directory are no longer minified.

[2020-10-04 21:11] pixari commented on #85
As agreed we keep microbundle and yarn

[2020-10-04 21:11] #85 closed

[2020-10-04 21:16] pixari commented on #86
It looks like that the unusedKeys are matching the expectations because the js lang file can't be load correctly.
I guess there's a problem with "langObj = esm(module)(langPath).default;" in the jest environment.

[code]

Does someone have any suggestion?

[2020-10-04 23:01] Spittal commented on #79
It's because of node support in microbundle. I guess they chose that as default for `--target node` because it isn't in a browser environment where every byte over HTTP matters. I think it makes it a little easier to read and debug! :D

Also I should mention that @pixari and I talked about it. And very _very_ few people were using ESM for language files and we figured it was just easier to remove

[2020-10-04 23:01] #79 closed

[2020-10-05 07:27] #86 closed

[2020-10-05 07:28] pixari opened #87 "Fix the CI pipeline"
The CI pipeline is currently broken and the package can't be published.

[2020-10-05 09:52] #87 closed

[2020-10-05 17:06] #40 closed

[2020-10-05 18:40] pixari opened #88 "Improve documentation"
The documentation should be improved:
- [ ] Provide some examples
- [ ] Describe the API
- [ ] Explain the main purpose of the library
- [ ] Describe all the features
- [x] README format
- [ ] GitHub Pages website format

[2020-10-06 08:55] pixari opened #89 "Text review"
Since English isn't my mother language, I'm sure that the documentation/readme contains misspelling and grammatical errors.

It would be nice if someone could review and improve it (README.md).

[2020-10-06 09:01] dakshayahuja commented on #89
Hey!!
I can review the README.md file as I am very fluent in English.
Please assign it to me.

[2020-10-06 09:02] pixari commented on #89
Thank you very much, @dakshayahuja!

[2020-10-06 14:11] pixari opened #90 "Implement config file"
**User story:**
As a user I want to store the options in a config file and if I run the script without params, it should take them from the there.

**Requirements:**
- [ ] Implement new command "-i" ("--init"): it must create a new config file with default values.
- [ ] If no params are provided, they will be loaded from the config file (if it exists)

[2020-10-07 04:33] dakshayahuja commented on #89
Hey, can you please add "hacktoberfest-accepted" label as then this PR will count for my progress in the event.

[2020-10-07 11:15] pixari commented on #89
Of course!

[2020-10-07 11:20] dakshayahuja commented on #89
Thank you so much!!!

[2020-10-11 05:40] #78 closed

[2020-10-12 10:42] pdcmoreira commented on #76
I'm using this workaround for dynamic translations:
https://github.com/pixari/vue-i18n-extract/issues/46#issuecomment-676581515

Maybe you could do something similar?

[2020-10-12 11:07] pdcmoreira opened #95 "Stopped working in latest versions"
I'm facing an error with versions 1.1.10 and 1.1.4:
[code]

My language files are all `.js` files exporting an object ES6-style.

Version 1.1.2 works fine.

I was trying to test other versions, but I can't install a specific version with `npm i -D vue-i18n-extract@1.1.3`, for version 1.1.3 and from version 1.1.5 up to version 1.1.9. Installing version 1.1.10 works fine again with this syntax.

**[

[2020-10-14 12:41] crazymind commented on #95
same here

[2020-10-26 10:42] guillaume-gagnaire commented on #72
Hey @pixari ! Thanks for your work ! Any idea of the release date of the formatFallbackMessages support ?

Thanks a lot !

[2020-11-06 14:20] jevillard opened #96 "Add --nested-locla"

[2020-11-12 13:27] o-Chamie-o commented on #71
@Spittal is there any requirement to have the -a / --add working?

I got the report, but even with the --add flag I don't have the missing string added to my json.

Here is my command (on windows (tried it as simple user and as administrator) :
[code]

[2020-11-13 11:15] o-Chamie-o opened #98 "Path with double context in windows for --add option"
I think I found a bug.

When I launch :
[code]

I got this result :

[code]

Here is the fix I did :
In `vue-i18n-extract.umd.js` line 185
[code]

Remove the `process.cwd()` as the path are already in the context.

[code]

Now it works for me.

[2020-11-13 13:14] sem4phor commented on #77
I get this error, too. My System is Windows 10 An newest node.
You can just leave out the apostrophes and it works.

`npx vue-i18n-extract report -v ./resources/assets/js/**/*.vue -l ./resources/assets/js/locales/*.json`

[2020-12-28 17:29] matteo-azzolini opened #99 "Add missing keys in the correct order"
Hi,
I'm using vue-i18n-extract with `--add` option (yaml files for translations)
I noticed that the missing keys are added to the end of the file

It would be great if the missing keys are added in the correct alphabetical order

[2021-01-20 10:09] esfraner commented on #98
I had the same problem, I did what you said in your comment and it worked perfectly.
@o-Chamie-o thanks!

[2021-01-21 11:00] esfraner commented on #98
The problem only appears if you run it on Windows, it works perfectly on Linux.

[2021-01-21 11:27] esfraner commented on #98
If I try to do it in linux I find the following error:
![image](https://user-images.githubusercontent.com/22304628/105344980-f91c0900-5be3-11eb-8dbf-7354bcc401d3.png)

[2021-01-21 13:13] o-Chamie-o commented on #98
So maybe this is more a windows bug then. :thinking:

[2021-01-27 09:25] gilles-crealp opened #100 "Deploying version 1.1.11 on NPM"
Can you please deploy version 1.1.11 on NPM so we can use your plugin with `-a` (bug #78) on Windows?

[2021-01-27 11:27] pixari commented on #100
Sure @gilles-crealp!
I'm going to do it.

[2021-01-27 11:43] gilles-crealp commented on #100
Thank you!

[2021-01-27 12:31] #89 closed

[2021-01-27 12:40] pixari commented on #100
Done! Thank you, @gilles-crealp !

[2021-01-27 12:40] #100 closed

[2021-01-28 13:31] gilles-crealp commented on #98
It's a typo; you must use `,` with `path.resolve` not `+`...

It has been solved in #94, update to version 1.1.11.

[2021-01-28 13:49] o-Chamie-o commented on #98
Oh how come I didn't see it. :o

Yeah it's a typo, just try you fix.

Thanks a bunch for the update @gilles-crealp. :)

[2021-01-28 13:49] #98 closed

[2021-01-28 13:59] gilles-crealp opened #101 "Add support for pug template language"
I would like to propose you to add the support of [pug](https://pugjs.org/) template language.

[2021-02-02 18:28] mxgnr commented on #78
Hi there,

I'm afraid the last PR broke the filename path on Linux/Unix systems (i'm on Mac OS 10.14.6).

I ran :
`vue-i18n-extract report -a -v './src/**/*.?(js|vue)' -l './src/locales/*.?(json|yaml|yml)'`

But i encountered this error :
`UnhandledPromiseRejectionWarning: Error: ENOENT: no such file or directory, open '/src/locales/en.json'`

It seems to be searching the files at system root, ins

[2021-02-03 12:53] last-partizan opened #102 "--add flag does not work"
Looks like it tries to write files into root folder, instead of current folder.

Steps to reproduce:

[code]

[code]

[2021-02-03 15:12] last-partizan opened #103 "Inconsistent extraction to js"
When this plugin reads content from js, it uses `eval(fs.readFileSync(langPath, 'utf8'));`

But when writing, it uses
[code]

So, it can not read it's own files.

[code]

[2021-02-05 08:35] oleksii-shaposhnikov opened #104 "Vue 3 support + Composition API"
Does the current version of the extracted plugin support Vue 3 and composition API?

Will it work with "vue-i18n": "^9.0.0-rc.4" ?

[2021-02-19 20:44] toddbw opened #107 "Does not extract directives when using path or modifier"
[code]

[2021-02-22 13:46] #102 closed

[2021-02-22 15:16] #90 closed

[2021-02-22 18:35] pixari commented on #56
Hello @stevenkuster!

The feature has been implemented: https://github.com/pixari/vue-i18n-extract/pull/108

[2021-02-22 18:35] #56 closed

[2021-02-22 20:42] pixari commented on #104
I am pretty sure it will work, even if I didn't test it.
The vuei18n keys syntax hasn't changed, that's why it should just work fine.

[2021-02-22 20:42] #104 closed

[2021-02-22 23:10] pixari commented on #95
Yes @pdcmoreira, you are right.

Unfortunately supporting JS files caused other problems we couldn't manage to solve.

I'll try to find a solution.

[2021-02-22 23:10] pixari opened #109 "Add support for JS files"
### Acceptance Criteria
- [ ] .js translation files must be supported
- [ ] cover new cases with unit test

[2021-02-22 23:11] pixari commented on #95
I created an issue: https://github.com/pixari/vue-i18n-extract/issues/109

[2021-02-22 23:11] #95 closed

[2021-02-22 23:11] pixari commented on #80
It works now.

[2021-02-22 23:11] #80 closed

[2021-02-22 23:14] pixari commented on #101
I guess it's something we could do :)

[2021-02-22 23:14] #88 closed

[2021-02-23 06:55] gilles-crealp commented on #101
I've already made the regex (in `src\report-command\vue-files.ts`) but I'm not sur for the tests.

[code]

[2021-02-23 07:18] gilles-crealp commented on #101
I've already made the regex (in `src\report-command\vue-files.ts`) but I'm not sur for the tests.

[code]

[2021-02-23 08:00] pixari opened #110 "Add support for Pug templates"
### Acceptance Criteria
- [ ] Pug component templates must be supported
- [ ] cover new cases with unit test

#### Info
Consider this solution provided by @gilles-crealp:
[code]

[2021-02-23 08:00] pixari commented on #101
Nice, @gilles-crealp!

I created a new issue: #110

[2021-02-23 08:00] #101 closed

[2021-02-23 08:07] pixari commented on #81
Hi @ThaDaVos!

Could you explain what do you mean with dynamic keys?

[2021-02-23 08:10] pixari opened #111 "Keys in directives"
### Acceptance criteria
- [ ] Check if keys in directives are supported (#107)
- [ ] If not, add support for keys in directives
- [ ] Add unit test for new cases

[2021-02-23 08:11] pixari commented on #107
We are going to tackle it here: #111

[2021-02-23 08:11] #107 closed

[2021-02-23 08:11] pixari commented on #103
Is this bug still valid?

[2021-02-23 08:14] pixari opened #112 "Sort missing keys in the output files"
### Acceptance criteria

- [ ] The output file's keys are alphabetically sorted
- [ ] Add unit test for the new cases

#### Info
See #99

[2021-02-23 08:15] pixari commented on #99
Hi @matteo-azzolini,

this feature hasn't be planned, but it could be a nice improvement.

See here: https://github.com/pixari/vue-i18n-extract/issues/112

[2021-02-23 08:15] #99 closed

[2021-02-23 08:18] pixari commented on #96
Hi @jevillard!

I think it would be a nice improvement.
Thank you for documenting it.

What should --nested-locales exactly do?
Scan recursively all the folders in a path?

[2021-02-23 08:21] pixari commented on #76
I like the idea of a "ignore file" with a list of keys that must be ignored.

Do you have a working implementation somewhere, @pdcmoreira?

[2021-02-23 08:22] pixari commented on #76
@vmangelovv, in the meantime you can run the program with the -d param.

[2021-02-23 12:47] stevenkuster commented on #56
Awesome! Thanks for this

[2021-02-24 07:29] last-partizan commented on #103
@pixari yes, version 1.2.0 using `module.exports = ` when reading, and `export default` when writing.

[2021-02-24 07:30] last-partizan commented on #103
`yarn vue-i18n-extract -a -v TestComponent.vue -l locale/en.js`

just run something like this two times.

[2021-03-04 11:23] last-partizan opened #113 "Add option to remove unused keys from locale file"
Right now this tool can add keys to translation file, but can only report unused.

Please, add option to remove unused keys from translations.

[2021-03-04 11:27] last-partizan opened #114 "Create missing locale file"
I'm using this tool for per-component translation, like this:

[code]

For new components i must create empty yml file, but it would be nice to add option for creating missing file.

[2021-03-05 08:04] last-partizan opened #115 "-ci option does not work as expected"
There is this code in tests:

[code]

But, test fixtures do contain missing keys. So, when you run command manually, you see this:

[code]

Test code should be changed to expect `1`. Am i right? It should fail if report found missing keys.

[2021-03-08 08:35] sarb00923 opened #116 "Unable to extract literal strings"
I am using pug templates and in my components. Please, have a look at the following mark-up:
![image](https://user-images.githubusercontent.com/28385551/110111792-ded66d00-7dd6-11eb-85af-1f2aa8898667.png)

I need the string to be considered as a literal one and the final extracted key in the json file should be
`App#Error Your check-in date is in the past. Please, select a valid date`

but it's co

[2021-03-30 12:21] rlam3 commented on #114
@last-partizan could you share your approach with a repo? I'm interested in this per component translation as well.
thanks!

[2021-04-01 01:36] rlam3 opened #119 "Alternative way to use `use-config` ?"
I'm looking for vue-i18n-extract config file to display an unused key report however it is not showing up with the unused key report..?

### WORKS: Individual folder run
[code]

### ERROR: With config file shows no unused key report

[code]

### WORKS: Individually run config shows a report

[code]

### The following is my config file:

[code]

Is there an extra setting I'm missing?
Thank you!

[2021-04-12 14:48] sheoak commented on #111
Additionally, I believe `<i18n-t>` tag `keypath` attribute is not recognized either, I have a notice saying the key is unused (and yet it is translated properly)

E.g.:
[code]

[2021-04-12 22:40] rlam3 commented on #119
[code]

adding 'report' to dynamic makes this work now. However is there a way to use a single config file with different options?

Ex. " npx vue-i18n-extract use-config -a "

[2021-04-13 09:35] pixari commented on #119
Hi @rlam3!

Could I ask you what do you exactly mean with "with different options"?
Would you like to overwrite just some options set by the config?

[2021-04-13 09:36] pixari commented on #116
Hi @pascalbaljet, yes, I would be absolutely interested. It would be great!

[2021-04-13 09:37] pixari commented on #115
I have to inspect this..

[2021-04-13 09:38] pixari commented on #114
Would you like to implement this feature, @last-partizan and/or @rlam3?

[2021-04-13 09:39] pixari commented on #113
True, it could be a feature.
Would you like to implement it, @last-partizan?

[2021-04-13 09:40] pixari commented on #42
This is probably obsolete now.

[2021-04-13 09:40] #42 closed

[2021-04-13 09:41] pixari commented on #103
I'm going to have a look :)

[2021-04-13 09:43] last-partizan commented on #114
@pixari yes, i'll take a look when i'll have time (probably on weekends).

[2021-04-13 09:43] last-partizan commented on #113
i'll take a look :)

[2021-04-13 09:52] pixari commented on #114
Sounds amazing @last-partizan :)

[2021-04-13 09:52] pixari commented on #113
Great, @last-partizan :)

[2021-04-13 12:23] rlam3 commented on #119
@pixari Hi!

Yes.

What I'm looking for is to overwrite options when running the command 'use-config' for my package.json script
Or do you have any recommendations on how to improve this?

[code]

Thank you!

[2021-04-20 15:15] vasaeps3 commented on #115
@pixari just check the format variable "ci"  in reportCommand function
![image](https://user-images.githubusercontent.com/4850895/115421057-52580080-a204-11eb-8a9b-94586de461bb.png)

[2021-04-23 09:19] set0x commented on #115
Same problem 😭

![image](https://user-images.githubusercontent.com/15133015/115849906-a42ba100-a425-11eb-8457-ff86cbb6e702.png)

[2021-04-26 20:58] Roriz commented on #115
up

[2021-04-27 07:31] bartenra opened #125 "`program.command(...).description(...).requiredOption` is not a function"
When I run `yarn run vue-i18n-extract` without any arguments. Not sure what's happening here.

[code]

Node v15.14.0

Edit: I also get this error with arguments.

[2021-04-27 07:34] bartenra commented on #125
When I run it with the `-v` and `-l` arguments it just prints `7.10.0` and then exists.

[2021-04-27 11:43] vasaeps3 commented on #115
@pixari When will you be able to update the package with this fix?

[2021-04-27 12:21] pixari commented on #115
@vasaeps3 the new version has been released few minutes ago :)

[2021-04-27 12:21] #115 closed

[2021-04-27 13:09] vasaeps3 commented on #115
Great! Thanks a lot! Good job =)

[2021-05-09 06:56] last-partizan commented on #113
@pixari i just checked, and it was not working, becouse we forgot to run `build` before release.

Should this be done in merge requests? or it's you usually doing build step?

[2021-06-02 11:34] chrisbarton126 opened #126 "Support for abstracted usage of $t"
The application in which I am currently using vue-i18n features an abstraction away from `$t` such that there is a custom mixin used within the components that handles some additional functionality but ultimately calls `$t`.

As such, when using `vue-i18n-extract` I am receiving false-positives on the majority of keys within my language files as it cannot detect them being used in calls to `$t` by

[2021-06-07 13:23] existe-deja opened #127 "Arrays are detected as missing keys"
I have some array entries in my translation files and they are detected as missing keys but the aren't.
Is it an intended behavior?

[2021-06-16 14:43] last-partizan commented on #113
@pixari please, take a look at this

[2021-07-02 16:14] andreasphil commented on #104
Hi @pixari,

I just set up `vue-i18n-extract` with `"vue-i18n": "^9.0.0-beta.0"`. We're using `vue-i18n` with the Composition API as described [here](https://vue-i18n.intlify.dev/guide/advanced/composition.html#basic-usage):

[code]

And then in the template:

[code]

The tool will report `dialog.infos` as unused because the regex used in [`vue-files.ts`](https://github.com/pixari/vue-i18n-extract

[2021-07-12 08:04] baboon-king opened #128 "Cannot find module 'esm'"
# Cannot find module 'esm'

## system info

[code]

## package.json

[code]

## stack

[code]

[2021-07-15 09:32] pixari commented on #128
Hi! Thank you for reporting this.
I'll have a look at it as soon as possible.

[2021-07-15 09:33] pixari commented on #127
Can you provide an example?
Thank you.

[2021-07-15 09:34] pixari commented on #126
Hi @chrisbarton126.
Can you provide an example?

I'll analyse it and will create a new issue out of it.

Thank you.

[2021-07-15 09:35] pixari commented on #125
Hi @bartenra!
Do you still experience this problem?

Can you provide some information to reproduce it?

[2021-07-15 10:00] chrisbarton126 commented on #126
Hi @pixari

The below mixin is something I use so that in my components I can provide a key as well as a default value. This way if the key doesn't exist then the UI doesn't just render the key value it instead has a valid value to fall back to. As such whenever I run vue-i18n-extract it appears to be loading the `.vue` files and looking for calls to `$t` or usage of the `<i18n>` component, of whi

[2021-07-16 07:58] existe-deja commented on #127
Sure.

lang/en.json
[code]

pages/index.vue
[code]

vue-i18n-extract.config.js
[code]

report
[code]

This is a dumb exemple because I will not translate a pure array but I use them sometimes to have list that can vary between languages.
like this:
[code]

[2021-07-20 10:31] EmilyRosina commented on #77
Also having this problem RN on Linux :cry:
Trying to look into why...

[2021-07-23 18:14] paulfertser opened #129 "Leading slash in reported filenames"
Hello,
This tool reports all filesystem pathes with a leading slash prepended so one can't just select and paste the whole path to edit it. Either dot (.) needs to be prepended to reference the current working directory or the leading slash should be removed altogether.
Or am I missing some rationale why it's better to show it the current way?

[2021-07-23 20:42] amanpatel commented on #126
This is supported by `i18next`. Why it is missing in i18n community, I'm not sure. Having the default translations within the component files not only simplifies management, but it actually is readable because you don't see some random key when you look at a component template.

Please consider it!

[2021-07-25 20:47] amanpatel commented on #62
I had a vendor folder with tons of files and folders, which might have had a folder that matched the glob. This was causing this error. Hope that helps someone who might be receiving this error.

[2021-08-05 14:08] vricosti opened #130 "Option to not generate nested keys when declaring a string with a dot"
Hi,

When I declare the following code to translate:

login.vue
[code]

And I call  yarn run vue-i18n-extract use-config I get the following output:

[code]
Would it be possible to add an option to generate keys that are not nested ?
Something like:

"login.title": ""

Maybe my request is coimpletely stupid (I come from a c++ background) but for some reason I would like to identify where is locate

[2021-08-06 08:40] DennisBetawerk commented on #130
This would be required even to support the use case where Vuei18n is configured with formatFallbackMessages: true. We use this so that we can use the default language strings themselves as the keys.

[2021-08-23 12:50] JkmAS commented on #104
I have the same issue as @andreasphil mentioned https://github.com/pixari/vue-i18n-extract/issues/104#issuecomment-873110239

![issue-regex](https://user-images.githubusercontent.com/9950469/130447776-ba99e0f6-eed2-4f92-913a-bb5dba297960.png)

And I tried the solution with renaming `t -> $t`, but it didn't work for me on development env:

`setup() return property "$t" should not start with "$" or

[2021-08-23 14:51] Spittal commented on #104
Hey guys! I added full vue 3 and vue-i18n v9 support here, I'm using this branch internally and it works great. https://github.com/pixari/vue-i18n-extract/pull/124

Just waiting for @pixari to review.

[2021-08-27 14:49] AlaaDq opened #131 "Improvement : add option to choose the translated value instead of empty string"
# Improvement : add option to choose the translated value instead of empty string
  Example: After adding the missing keys I need translated value to be the same key in en-us
[code]
  And so on....
  another case when using $tc('key',3)
  it better to be extracted as:
[code]
   because this will reduce time of adding the translation for English keyword

[2021-08-30 12:08] vricosti commented on #130
Is this project still maintained ?
Could someone please merge this PR https://github.com/pixari/vue-i18n-extract/pull/106.
Should not be difficult to fix the merges issues.
I really this option.
Thanks

[2021-08-31 08:34] pixari commented on #130
Hi @vricosti!
Thank you for your support.
v2.0 has been merged! 🥳

As soon as the conflicts will be fixed, we are going to merge the #133. :)

Thank you again!

[2021-08-31 14:32] vricosti commented on #116
@pascalbaljet
With the next releases you will be able to specify a separator option and it will allow you to do this.

[2021-09-01 08:28] JkmAS commented on #104
@Spittal  first thank you for v2.0 :clap:, I've already migrated and everything works smoothly.
But unfortunately it didn't solve the problem with `t('key')` if I pass it to component's props.

There is a problem in the [first regex group](https://github.com/pixari/vue-i18n-extract/blob/master/src/create-report/vue-files.ts#L70 ) in `[$ ?]`, because this construction is not optional.

Regex: ```/(

[2021-09-01 11:20] Razi91 opened #135 "Improvement: CI mode could throw error on unused key"
In CI mode there should be an option where unused key throws an error.

[2021-09-01 15:57] Spittal commented on #135
Fixed in https://github.com/pixari/vue-i18n-extract/commit/4a158c04c530393e9138a208fbe6ce24cb8da325

[2021-09-01 15:57] #135 closed

[2021-09-01 15:57] Spittal commented on #131
This PR https://github.com/pixari/vue-i18n-extract/pull/136 will address this.

[2021-09-01 15:59] Spittal commented on #130
As of 2.0.1 you can set `--separator` as en empty string and that will achieve the functionality you want!

[2021-09-01 15:59] #130 closed

[2021-09-01 15:59] Spittal commented on #128
I believe this is solved as of 2.0.0. Let us know if you still have issues.

[2021-09-01 15:59] #128 closed

[2021-09-01 21:36] Spittal commented on #72
Hey this is solved in 2.0.0! There is also now a test to validate this.

[2021-09-01 21:36] #72 closed

[2021-09-01 21:38] Spittal commented on #76
Dynamic key detection is shipped with 2.0.0

[2021-09-01 21:38] #76 closed

[2021-09-01 21:38] Spittal commented on #81
Dynamic Key Detection shipped with 2.0.0

[2021-09-01 21:38] #81 closed

[2021-09-01 21:40] Spittal commented on #96
We'd be open to PR to support this functionality! But at the moment it's not on the roadmap. Sorry!

[2021-09-01 21:44] Spittal commented on #103
Whoops this was my bad. Fixed now!

[2021-09-01 21:44] #103 closed

[2021-09-01 21:44] Spittal commented on #109
Supported in 2.0.0 with tests.

[2021-09-01 21:44] #109 closed

[2021-09-01 21:46] Spittal commented on #110
@gilles-crealp I would be open to a PR for this.

[2021-09-01 21:47] Spittal commented on #111
i18n-t, Translate, and keypath are now supported!

[2021-09-01 21:54] Spittal commented on #116
Solved and tested in 2.0.0!

[2021-09-01 21:54] #116 closed

[2021-09-01 21:55] Spittal commented on #119
Hi! I've re-written the whole way config files work and now CLI arguments will override config file options!

[2021-09-01 21:55] #119 closed

[2021-09-01 21:55] Spittal commented on #125
Solved in v2.0.0 and above, There are now better explanations for required options.

[2021-09-01 21:55] #125 closed

[2021-09-01 21:58] Spittal commented on #126
Hey @amanpatel we intentionally limited the scope of this project to vue-i18n. We have discussed about making this tool more generic so you could supply your own Regex patterns to extract anything matching from your code, but for now that's outside the scope of the project, and unfortunately that includes any custom abstractions for default vue-i18n method names.

[2021-09-01 21:58] #126 closed

[2021-09-01 22:04] Spittal commented on #127
Hey I ran a quick test on this with vue-i18n v9 and formatting a message as an array of strings isn't supported and doesn't work. I also looked, and this is not mentioned in their docs.

We're pretty committed to limiting the scope of this project to vue-i18n so we wont be implementing support for string arrays.

Thanks for bringing it to our attention though.

[2021-09-01 22:04] #127 closed

[2021-09-01 22:05] Spittal commented on #129
Hey! The tool will show absolute file paths based on the your systems disc. There are no plans for reporting relative paths.

Thanks!

[2021-09-01 22:05] #129 closed

[2021-09-01 22:06] Spittal commented on #131
Discussion around this issue will continue in #136

[2021-09-01 22:06] #131 closed, assigned to nobody

[2021-09-01 22:10] paulfertser commented on #129
Hello,

On Wed, Sep 01, 2021 at 03:06:03PM -0700, Jamie Spittal wrote:

My problem is that the paths reported are not actually absolute. They
look like absolute because they start with a slash but in fact they do
not contain the full real path. In other words, if I copy one of the
reported paths and use "ls <that path>" command it'll say file not found.

Do I need to provide a specific example? Or

[2021-09-02 05:10] gilles-crealp commented on #110
As I wrote in #101, I'm not sure how to implement the unit test.

[2021-09-02 13:30] existe-deja commented on #127
Hi @Spittal, it looks like arrays or object are still supported but now they have to be translated through [$tm](https://vue-i18n.intlify.dev/api/composition.html#tm-key) function

[2021-09-02 15:48] Spittal commented on #127
Hmm, interesting thanks for bringing this to my attention. I'm not really sure exactly how we'd want to report on arrays however. We can detect whether or not the key exists in the code/lang files but we don't render Vue components so we can't check to make sure that it's iterating correctly, and on the flip side we can't infer how long the arrays will be. So for now I think we might skip this— le

[2021-09-02 15:49] Spittal commented on #110
No problem, I unfortunately don't code in pug and therefore don't know the syntax I would be looking out for so I'll leave this to someone who perhaps knows how to write pug.

[2021-09-02 16:02] Spittal commented on #127
I should say, in the next release there will be support for `$tm` matching

[2021-09-02 16:32] Spittal commented on #104
@JkmAS fixed this in https://github.com/pixari/vue-i18n-extract/commit/8d55c138179c110cf6e8fd4388aa4b8985ce4381

I couldn't make that group optional because it would throw some false positives, but I worked around it by adding quotes to the matching group. We'll release this fix soon!

[2021-09-02 16:43] Spittal commented on #129
Hey @paulfertser I have to apologize, I didn't look into this close enough. I have fixed your issue here: https://github.com/pixari/vue-i18n-extract/commit/05442cbd5f0689646d2d41770b8c27cda63443e7

It will be in the next release!

[2021-09-02 16:58] paulfertser commented on #129
Awesome, thank you so much, now the ticket is indeed closed :)

[2021-09-03 06:24] freakzlike opened #139 "When using add and remove, command has to be called twice"
When using the options `add` and `remove` and for example renaming a translation key in your vue file. Then the old key will be removed but the new key will not be added. You need to run `vue-i18n-extract` again to add the missing key.

Version: 2.0.4

[2021-09-03 07:37] chrisbarton126 commented on #126
Hi @Spittal I appreciate that the scope of this project is targeted to vue-i18n. @pixari appeared willing to analyse the idea of abstractions, and potentially create an issue from the feature request. Do I assume that the final verdict is that this will indeed not be considered?

[2021-09-03 07:57] JkmAS commented on #104
@Spittal yeah, that's a better solution :clap:. Thx

[2021-09-03 12:47] existe-deja commented on #127
Well, I already use arrays or object as result of translated content in my app.

For exemple I use array when I have to display a list of items that are different between locales. ie: you have to warn your users for border checks but the number of items depends if they are European or not.

I use object when it's simpler to let the responsibility to the translation on how the component is rendered

[2021-09-03 12:47] existe-deja commented on #127
Thanks for taking this case into consideration :pray:

[2021-09-08 12:50] vricosti opened #140 "Add an option to allow to specify name of function"
I am not satisfied by the default behavior of vue-i18n and when a language has an empty translation I would like to display the key.
So I wrote the following plugin:

[code]
So I am declaring a $T function but in this case vue-18n-extract does not work, would it be possible to add an option keyword for instance where we could specify the name of the method ?

[2021-09-14 04:10] owlyowl opened #141 "Idea: Allow users to specify an exclusion list of known unknowns for dynamic keys which can't be inferred."
For certain scenarios where keys are built up in code or returned from external sources it would be good to be able to specify a list of known unknowns.

[2021-09-16 09:23] theunclehonnor opened #142 "Not working with es6 modules"
Hello, i`m trying to setup vue-i18n-extract for my project. My translations are stored in js files (es6 modules) and i catch an error:
[code]

Steps to reproduce:
1. Clone: https://github.com/theunclehonnor/vue-i18n-extract-esm-reproduce
2. yarn i18n-check or yarn run vue-i18n-extract use-config

Are es6 modules supported?

[2021-09-21 06:32] Oleksii14 commented on #103
Any updates?

[2021-09-21 16:01] theunclehonnor commented on #103
Most likely, there is no support for es6 modules, read more here https://github.com/pixari/vue-i18n-extract/issues/142

[2021-10-12 08:04] bfontaine opened #143 "Is there a change log?"
Hello, I’m looking for a change log to understand what changed between versions but I can’t find it. Does it exist somewhere?

[2021-10-13 11:23] JamesBoon opened #144 "Allow key detection in brackets and parentheses"
If the translate function `t()` is used inside of brackets or parentheses, it should still be detected by vue-i18n-extract.

It would be nice if these examples would work:
[code]

Wouldn't it be better if the regexp uses any "not word" (`\W`) character as delimiter in front of the translation function?

---

Until then, there is a (ugly) workaround: as the vue-i18n-extract regexp requires a space

[2021-10-13 14:21] Spittal commented on #143
Closest thing we have right now is comments in PRs.
https://github.com/pixari/vue-i18n-extract/pull/124

We'll have to look into adding conventional commits and an auto changelog soon.

[2021-10-14 11:25] chenxch opened #145 "script error"
Thank you for writing such an excellent toolkit.

Node 14.0.0
npm 6.14.4
vue-i18n-extract report --vueFiles './path/to/your/vue-files/**/*.?(js|vue)' --languageFiles './path/to/your/language-files/*.?(json|yml|yaml|js)'
=>
vue-i18n-extract report --vueFiles ./path/to/your/vue-files/**/*.{js,vue}' --languageFiles ./path/to/your/language-files/*.{json,yml,yaml,js}'

[2021-10-15 19:41] Spittal commented on #144
Love the PR, I think it's great!

[2021-10-15 19:41] #144 closed

[2021-10-17 11:57] JamesBoon commented on #140
Maybe this would be a solution:
[code]
The `methodNamesRegExp` would be the parameter passed to `extractMethodMatches`.
Allowing a custom RegExp-part is a mighty thing - and error-prone. Maybe the mentioned RegExp validation is not enough.

[2021-10-19 13:46] alipay404 opened #147 "Dynamic keys"
this.$t( true/false ? 'i18n_sdasdsa' : 'i18n_sdasdsaxxxxxxx')

[2021-11-22 06:36] DFJacobsen commented on #142
Same problem here.
As this issue is 2+ months old, are there any plans to fix this?

[2021-11-22 16:56] Spittal commented on #142
Hey sorry about this. Both contributors here are full time programmers with families and admittedly don't have a tonne of time to spend solving every issue.

I have some time scheduled over the holidays to do some open source stuff, where I will take a look at this. Otherwise we're 100% open to PRs.

[2021-11-23 06:00] DFJacobsen commented on #142
Absolutely understandable :)

[2021-11-27 08:45] raphaelschmitz00 opened #148 "Error: vueFiles glob has no files."
This example from the readme did not work for me:

[code]

Of course, with paths adjusted
[code]

The solution was to use escaped double quotes instead of single quotes
[code]

So it _works_, but the readme and the error message are misleading.

[2021-12-02 18:28] gekkedev opened #149 "Gettext (.po file) support"
When trying to read `.po`-based language files, I run into a `SyntaxError: Unexpected string` based on this call (in an `else`-closure):
https://github.com/pixari/vue-i18n-extract/blob/1ed4c301636c73cd0cc32e94109bc7e02d7880e6/src/create-report/language-files.ts#L33
It looks like there is no support for Gettext / `.po` fles has been implemented. Could this be achieved by using a loader like `@openc

[2021-12-14 02:53] yangguoquan opened #150 "Why not publish"
I see there are changes in October

[2021-12-14 02:54] yangguoquan commented on #150
I need these changes

[2022-01-29 23:46] roanhen opened #151 "Need to support detection of v-t.preserve"
Currently this tool does not collect/ detect the appearance of  'v-t.preserve'.   We use this modifier to prevent flickering to happen during transition.

[2022-02-01 18:26] davidyuk opened #152 "Ability to avoid errors if querying array/object from translations"
This feature was implemented and merged in https://github.com/pixari/vue-i18n-extract/pull/51. And it got reverted somewhere in between 1.0.3 and 1.1.0: https://github.com/pixari/vue-i18n-extract/compare/v.1.0.3...v.1.1.0

Was any reasoning to do that? Please consider implementing it back. I'm fine to have it switchable through options.

[2022-02-03 22:05] jsgervais opened #154 "Does it detect resources keys used in methods/data/compute functions ?"
i.e.

in a component, I have some static menus being defined

[code]

but they show as unused

[code]

I checked the regex used in the library, and the pattern match, as it can find the  i18n.t() function call

is it the vueFiles file pattern matching that is incorrect?

[2022-02-03 22:09] jsgervais commented on #154
Sorry, closing issue,  my pattern matching was incorrect.

changed it to

hope this helps someone

[2022-02-03 22:10] #154 closed

[2022-02-25 10:37] kengeene opened #155 "Getting unexpected token export error"
The current format of my locale files is

[code]

[2022-03-28 12:48] dgrabla commented on #150
I think this project is unmaintained. @yangguoquan are you interested on a fork?

[2022-03-28 21:28] Spittal commented on #150
Hi there! Sorry this project is maintained but it's @pixari and I's side project on-top of full-time work and families! I'll try to give this project some love as soon as possible!

[2022-03-29 08:14] dgrabla commented on #150
Ah, great! thanks @Spittal

[2022-04-07 05:47] nivv commented on #155
@kengeene that's an javascript object, not JSON

[2022-04-19 13:07] dgrabla commented on #150
@Spittal :wave:

[2022-04-26 18:23] Spittal opened #156 "When translation is in square brackets, it doesn't match"
A situation like `[t('Device Title')]: 'something,` doesn't match.

Specifically this was erroring.
[code]

Another example of this is with curly braces:
[code]

[2022-04-26 19:03] Spittal opened #157 "Add Support to Translation Component in code."
For example write the regex to include this usecase:

[code]

[2022-04-27 14:27] jan-thoma opened #158 "Not working inside template literals when using composition API and SFC"
It looks like `vue-i18n-extract` is not working when it's used on inside template literals alongside with the composition API.
For example:

[code]

Is reporting unused keys.

[2022-04-27 15:30] Spittal commented on #156
Duplicate of #158

[2022-04-27 15:30] #156 closed

[2022-04-27 15:58] #141 closed

[2022-04-27 16:00] Spittal commented on #140
Yeah we've grappled with adding custom Regex's before and because @pixari and I only have a small amount of time to maintain this project we've decided that it's best if we focus the scope of this project to the most common use cases of i18n, sorry! But feel free to fork the project!

[2022-04-27 16:34] Spittal commented on #157
Done: https://github.com/pixari/vue-i18n-extract/commit/f17ff704dae01849b3a8b0e94c9722562fac9110

[2022-04-27 16:34] #157 closed

[2022-04-27 16:38] Spittal commented on #142
Hi friends if you end the file in `.mjs` as opposed to `.js` it will work! This has to do with node, not vue-i18n-extract. You can see an explanation of this here: https://nodejs.medium.com/announcing-a-new-experimental-modules-1be8d2d6c2ff

[2022-04-27 16:38] #142 closed

[2022-04-27 16:38] Spittal commented on #145
Hey sorry what is the error here?

[2022-04-27 16:38] #145 closed, assigned to nobody

[2022-04-27 16:41] Spittal commented on #148
Hey when using single quotes like this I have had to do `'./tests/fixtures/vue-files/**/*.?(vue)'` notice the `?(vue)` at the end. Perhaps the issue is that you need to add ``*.?(vue)` `*.?(json)` to the ends of targets?

[2022-04-27 16:41] #148 closed

[2022-04-27 16:44] chenxch commented on #145
May be my environment problem `|` does not take effect, need to use` ,`.

[2022-04-27 16:44] Spittal commented on #152
This may have been a mistake during a rewrite, any possibility of a PR to add this back in with the current code base?

[2022-04-27 16:45] Spittal commented on #155
Hey @kengeene rename your file extension to have `.mjs`. Node doesn't support Es6 modules by default. https://nodejs.medium.com/announcing-a-new-experimental-modules-1be8d2d6c2ff

[2022-04-27 16:46] Spittal commented on #149
We're open to a PR that adds `.po` support, but it's outside the scope for the contributors of the project right now! Sorry!

[2022-04-27 16:52] Spittal commented on #139
I've changed the order of operations and this should be fixed in next release!

[2022-04-27 16:52] #139 closed

[2022-04-27 16:53] Spittal commented on #158
I've found this to be the case in the large app that we're using this in internally. I've written a test case for this https://github.com/pixari/vue-i18n-extract/blob/master/tests/fixtures/vue-files/edge-cases.js#L15

I've also tested with the exact code you've posted and it looks like it's working now in the next release! Let me know if the newest release solves your issue!

[2022-04-27 16:53] #158 closed

[2022-04-27 16:57] Spittal commented on #151
This is added in the next release! Thanks for bringing it up!

[2022-04-27 16:57] #151 closed

[2022-04-27 17:24] Spittal commented on #150
Published https://github.com/pixari/vue-i18n-extract/releases/tag/v2.0.5! Sorry for the delay and thanks for you patience!

[2022-04-27 18:47] dgrabla commented on #150
thanks @Spittal :)

[2022-04-28 06:45] Cyclodex opened #159 "2.0.5: [vue-i18n-extract] Error: vueFiles glob has no files."
Since today, my _npm run script_ is not working anymore, it throws a error about `vueFiles glob has no files.`.

I see there was a release 2.0.5 yesterday.
2.0.4 works perfectly fine.

My config file has:
`vueFiles: "./src/**/*.?(ts|js|vue)",`

Did you change something on the files matcher since 2.0.4?

![image](https://user-images.githubusercontent.com/840929/165693906-336d9f2f-83f9-402f-a8d2-6f4

[2022-04-28 13:47] r0kk opened #160 "Report shows unused keys, even though they are used by other translations"
Hi, I am adding an example below. Report says that **foo** is not used, even though fooView.fooUsed is used in the code.

Any ideas how we could solve this?

[code]

Thank you in advance.

[2022-04-28 15:44] Spittal commented on #159
I didn't specifically, but I did update the glob package which might have changed the syntax?

[2022-04-28 15:46] Spittal commented on #160
Hey @r0kk is `@:` a way to reference another translation, because if so, that won't work with this tool. This tool just does static code analysis to match key names in language files to names of translations in code.

[2022-04-28 15:46] #160 closed

[2022-05-04 12:53] FloEdelmann opened #162 "`v-t` directive regex false positives"
This is the regex matching `v-t`:

https://github.com/pixari/vue-i18n-extract/blob/34616d67d87538ee549b901a3d05a2f25036c950/src/create-report/vue-files.ts#L81

It likely also matches `v-text` and similar. I think the regex should rather be:

[code]

[2022-05-11 13:39] janakdom opened #164 "Configuration file ignore excludedKeys"
version: 2.0.6

Hi,

when I use the configuration file 'vue-i18n-extract.config.js' and try to exclude any keys, all exclude values are ignored.
I have already tried many configuration key names. Nothing works.

Everything is fine from the console (--exclude)

My config:
[code]

[2022-05-11 15:22] frynt commented on #159
Same problem with `2.0.5` and `2.0.6` version

[2022-05-12 16:25] mreduar commented on #159
Same problem here

[2022-05-14 03:52] hk67393309 commented on #159
2.0.4 use glob ^7.1.6, 2.0.6 use glob ^8.0.1

[2022-05-14 04:43] hk67393309 commented on #159
but use glob separate no problem.
![1111](https://user-images.githubusercontent.com/77831943/168410995-d3fafa81-d647-4f90-8f0a-5eeb07feeb91.png)

[2022-05-18 10:08] kleinfreund commented on #159
I think I have a theory that explains these issues.

The call to `glob.sync(src)` (https://github.com/Spittal/vue-i18n-extract/blob/main/src/create-report/vue-files.ts#L11) receives the result of `path.resolve(process.cwd(), vueFilesGlob)` (https://github.com/Spittal/vue-i18n-extract/blob/9680c12b53061cff8553d3551ec4cddf622f4604/src/create-report/index.ts#L24) where `vueFilesGlob` is something lik

[2022-05-26 00:42] #159 closed

[2022-05-26 00:42] #162 closed

[2022-05-26 00:43] #164 closed

[2022-05-27 14:55] mreduar commented on #159
I am sorry to say that this problem has not yet been solved on Windows with the latest version `2.0.7`. Only works from npx command

[2022-05-27 15:49] kleinfreund commented on #159
@mreduar What’s the issue that’s occurring for you? Do you get any error messages?

[2022-05-27 16:57] mreduar commented on #159
Yes, the error message is as follows.

[code]

It should be noted that I have to use this command, because if I use it the way the readme example (with `*.?(js|vue)` and `*.?(json|yml|yaml|js)`) says it doesn't work either.
`"vue)'" is not recognized as an internal or external command.` is the error if I use it with the regular expression in that way

[2022-05-28 09:03] kleinfreund commented on #159
@mreduar Hey there,

After `dist/vue-i18n-extract.umd.js:73`, can you add `console.log({ src, normalizedSrc })` and run the following (the same command you used above):

[code]

On my machine, the two paths logged are these (I use Ubuntu):

[code]

In your case, I would expect the two to look like this:

[code]

If that is indeed the result that you’re getting, can you please tell us which version

[2022-05-28 12:38] mreduar commented on #159
I suspected it from the beginning, but I wasn't sure since I have no experience with javascript packages. My suspicion was that the files inside `dist` folder were not updated with respect to the changes you made in PR #166, so `normalizedSrc` is not an existing variable in the `dist/vue-i18n-extract.umd.js` file. It's only available in `src\create-report-vue-files.ts`, so I did a compile with `np

[2022-05-28 12:56] kleinfreund commented on #159
@mreduar Aha! That explains it. Yes, the files in the `dist` directory of the project have not been re-built. This should probably be done to simplify local development processes.

That means the fix is working for you then?

[2022-05-28 13:01] mreduar commented on #159
@kleinfreund Yes, the solution in PR #166 works if I do the compilation in the package, however in the project I am using the package does not work as it needs to have the latest changes in dist I guess.
So it will be to send another PR with the compilation with the latest changes or have @Spittal do it.

[2022-05-28 13:15] kleinfreund commented on #159
@mreduar I filed another PR for addressing this: https://github.com/Spittal/vue-i18n-extract/pull/170

[2022-05-28 13:18] mreduar commented on #159
Thank you so much @kleinfreund!

[2022-06-06 10:37] magistr4815 commented on #114
@pixari Hello. It's been a long time since the last reply. Is there any progress?

[2022-06-10 08:43] inear opened #174 "Language json file format"
In our project the different language-files have the following structure:

`{ "en": {
"key": "value",
"key2": "value",
}}
`

The tool does not like that and see the key as missing. Is there a way around this?

[2022-06-20 12:52] digi604 opened #175 "--exclude is not working"

[2022-06-20 12:53] digi604 opened #176 "vue-i18n-extract.config.js is ignored"

[2022-06-20 12:54] digi604 commented on #175
<img width="655" alt="Screenshot 2022-06-20 at 14 54 15" src="https://user-images.githubusercontent.com/25490/174606135-d74ab977-f958-480d-a458-927b0c6cee08.png">

[2022-07-19 08:17] Aoyia opened #177 "Doesn't support international scan in the JS file?"
Doesn't support international scan in the JS file?

[2022-07-28 04:06] owlyowl opened #178 "JS Locale File Support"
We're using `.js` files for our locale files so we can include date formatting functions in our locales e.g:

[code]

I was wondering if there were plans to support the use of js locale files for reporting?

[2022-08-05 17:38] vutungf opened #179 "Add default value same key"
Hi,

I want after export will auto add value to miss translate. This value will same with key.

Ex:
"Key1":"Key1"

Thanks.

[2022-08-11 06:59] #179 closed

[2022-08-15 07:56] woncode commented on #159
I also meet this error in version 2.0.7，I'm use windows 10.
my cmd is `vue-i18n-extract report --vueFiles 'src/views/**/*.?(vue)' --languageFiles 'src/lang/zh.json'`

I log the path as below
![image](https://user-images.githubusercontent.com/20252778/184596427-827f0cb0-a34f-4d8c-9b53-0986647e18f7.png)

and find it become as below
![image](https://user-images.githubusercontent.com/20252778/18459673

[2022-09-07 13:21] kornhill opened #181 "does not seem to support i18n custom block in SFC"
Correct me if I am wrong but it doesn't appear to bother scanning the <i18n></i18n> local section in SFCs?

[2022-09-09 10:12] JoostKersjes opened #182 "Linked messages are incorrectly reported as unused"
[Linked messages](https://vue-i18n.intlify.dev/guide/essentials/syntax.html#linked-messages)

## Steps to reproduce
1. Create minimal Vue repo
2. Set up `vue-i18n`
3. Add following files:

`src/locales/en-GB.json`
[code]
`src/App.vue`
[code]
4. Run `npx vue-i18n-extract report --vueFiles './src/App.vue' --languageFiles './src/locales/*.?json'`
5. `"message.the_world"` and `"message.dio"` are repor

[2022-10-12 10:29] existe-deja opened #184 "language is not detected if it's a part of a path instead of the filename"
It's not a top priority issue.

My files are organized following this pattern: `i18n/locale/{localeCode}/main.json`
If I run an analyse, the value of `language` is `main` as I assume you're showing the filename.

[2022-10-19 08:05] cedricvoinnet opened #185 "Dynamic keypath are not ignored as path"
It looks like `:path="method(value)"` is ignored but `:keypath="method(value)"` is not.

Using `:path`, I get no report but using `:keypath`, this is the report I get :
[code]

In Vue-I18n v9.x `<i18n path="path">` is replaced by `<i18n-t keypath="keypath">` (https://vue-i18n.intlify.dev/guide/migration/breaking.html#rename-to-keypath-prop-from-path-prop) so it might become a recurring problem whe

[2022-11-28 15:05] varna opened #191 "Security upgrade dot-object from 2.1.2 to 2.1.3"
`vue-cli-plugin-i18n@2.3.1`:

<img width="567" alt="image" src="https://user-images.githubusercontent.com/6717694/204309636-b495920f-b214-48a1-84fb-3a2133917093.png">

https://github.com/advisories/GHSA-j9cf-pr2x-5273

Marked as closed in https://github.com/Spittal/vue-i18n-extract/pull/64

Yet, currently at 2.1.2 in master.

[2022-11-30 17:11] existe-deja opened #192 "nuxt format app.i18n.t('xxx') isn't supported"
If you use nuxt, you can translate with a server context through the help of `app.i18n` wich have a `t` method.
Is it possible to add the` app.i18n.t` and `app.i18n.tc` methods to the list of the regexp please?

Thanks

[2022-11-30 19:32] kleinfreund commented on #191
dot-object is listed as a dependency at version 2.1.4, see:

https://github.com/Spittal/vue-i18n-extract/blob/382f5e5c6a18471681b30b340919fdcb897259e1/package.json#L40